<div class="col-sm-6">
  <img src="images/people.jpg" alt="">
</div>
<div class="col-sm-6">
  <h1>Welcome!</h1>
  <p> Please check out all the cool new courses by our innovative and creative chefs.</p>
  <p> If you want to see a new course, click <a href="/courses">the courses page</a> and explore!</p>
  <p> When you see a course you like you can <a href="/contact">contact us to join! </a> Soon you'll be cooking in your own home.</p>
</div>
<div class="col-sm-6">
  <h3>New Culinary Vacations!!!</h3>
  <p>
    Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua.
  </p>
  <p>
    Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua.
  </p>
      <ul>
          <li>Accommodations</li>
          <li>Cooking</li>
          <li>Excursions</li>
          <li>Extraordinary</li>
      </ul>
      <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
  <p></p>
  <p>
      <b>Check out all our latest vacation packages and book soon</b>
  </p>
  <a class="btn" style="background-color: cadetblue;" href="/vacations ">View Vacation Packages</a>
<br>
</div>